:root {
  --theme-btn-radius: 50px;
  --theme-primary-color: #ff00ff;
  /* --theme-primary-color: #9c11ff; */
  --theme-secondary-color: #a9cec2;
  --theme-primary-bg: #242424;
  --theme-text: #e5e5e5;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* justify-content: center; */
  /* width: 100%; */
  color: var(--theme-text);
  /* overflow: hidden; */
  position: relative;
}

header {
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--theme-text);
  margin: 2rem 0 3rem 0;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  /* max-width: 500px; */
  width: 350px;
  margin-bottom: 1.25rem;
}

.btn-group button {
  border-radius: var(--theme-btn-radius);
  padding: 0.5rem 1.5rem;
  outline: 0;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: 500;
  background-color: var(--theme-primary-bg);
}
.btn-group button:disabled {
  cursor: progress;
  filter: brightness(0.5);
}
.btn-group button svg {
  vertical-align: text-bottom;
}

.btn-group button#update {
  color: var(--theme-primary-color);
  border: 2px solid var(--theme-primary-color);
}
.btn-group button#update:hover {
  border: 2px solid var(--theme-primary-color);
  color: var(--theme-primary-text);
  background-color: var(--theme-primary-color);
}

.btn-group button#print {
  color: var(--theme-secondary-color);
  border: 2px solid var(--theme-secondary-color);
}
.btn-group button#print:hover {
  color: var(--theme-primary-bg);
  background-color: var(--theme-secondary-color);
}

#last-updated-text {
  color: var(--theme-secondary-color);
}

.toggle-group {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--theme-text);
  width: 200px;
  margin-bottom: 1.5rem;
}

.toggle-group button {
  all: unset;
  outline: 0;
  border: 0;
  padding: 0.3rem 1.4rem;
  cursor: pointer;
  filter: brightness(0.6);
  border-bottom: 3px solid transparent;
  color: var(--theme-text);
  font-size: 1.1rem;
  margin-bottom: -2px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.toggle-group button:disabled {
  cursor: progress;
}

.toggle-group button.active {
  border-bottom: 3px solid var(--theme-secondary-color);
  color: var(--theme-secondary-color);
  filter: brightness(1);
  font-weight: 500;
}
