:root {
  --theme-btn-radius: 50px;
  --theme-primary-color: #ff00ff;
  --theme-secondary-color: #a9cec2;
  --theme-primary-bg: #242424;
  --theme-text: #e5e5e5;
  --table-heading-padding-right: 9.6rem;
  --table-item-padding-right: 10rem;
}

.print-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 950px;
  padding: 1rem;
  /* overflow-y: scroll; */
}

h4 {
  text-align: center;
  font-size: 1.1rem;
}

.print-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0 0.25rem 5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 90%;
  border: 2px solid var(--theme-secondary-color);
  cursor: pointer;
}

.print-item *:not(:last-child) {
  padding-right: var(--table-item-padding-right);
}

.print-item.selected {
  border: 2px solid var(--theme-primary-color);
}

.print-item svg {
  color: var(--theme-secondary-color);
  font-size: 1.7rem;
  /* padding-right: 0 !important; */
}

.print-item svg#checked {
  color: var(--theme-primary-color);
}

.print-item p {
  font-weight: 500;
  font-size: 1.1rem;
}

.loading-container {
  display: flex;
  justify-content: center;
}

.list-headings {
  display: flex;
  padding: 0 0 1rem 5rem;
  width: 900px;
}

.list-headings p {
  font-size: 1.1rem;
  margin: 0;
  filter: brightness(0.6);
}
.list-headings p:first-child {
  padding-right: 8.1rem;
}
.list-headings p:nth-child(2) {
  padding-right: 10rem;
}
.list-headings p:nth-child(3) {
  padding-right: 12.5rem;
}

.list-headings *:not(:last-child) {
  padding-right: var(--table-heading-padding-right);
}
