:root {
  --theme-btn-radius: 50px;
  --theme-primary-color: #ff00ff;
  /* --theme-primary-color: #9c11ff; */
  --theme-secondary-color: #a9cec2;

  --theme-primary-bg: #242424;
  --theme-text: #e5e5e5;
  /* Unique to notifications */

  /* Default */
  --theme-default: #1f7092;
  /* accent is --theme-text */
  /* Error */
  --theme-error: #9e2525;
  --theme-error-accent: #fdf1f1;
  /* Success */
  --theme-success: #3a7969;
  --theme-success-accent: #f1faf7;
  /* Warning */
  --theme-warning: #a19925;
  --theme-warning-accent: #fdfac1;
  /* Update */
  /* Used --theme-text */
  --theme-update-accent: #090e24;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.notification_container {
  position: fixed;
  bottom: 15px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.notification {
  min-width: 310px;
  background-color: var(--theme-text);
  border-radius: 10px;
  /* position: fixed;
  bottom: 15px;
  right: 20px; */
  border: 2px solid var(--theme-primary-color);
  padding: 1rem;
  display: flex;
  color: var(--theme-primary-bg);
  animation: fadeIn 0.25s ease-in;
}

.notification:not(:first-child) {
  margin-bottom: 1rem;
}

.notification__firstcolumn {
  padding: 0 1rem 0 0;
}

.notification__lastcolumn {
  padding: 0 0 0 1rem;
  margin: 0 0 0 auto;
}
.notification__lastcolumn p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.notification__icon {
  font-size: 1.5rem;
}

.notification__msg {
  /* color: var(--theme-primary-bg); */
  font-size: 1.1rem;
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.notification__details {
  /* color: var(--theme-primary-bg); */
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.notification--default {
  background-color: var(--theme-text);
  /* border: 2px solid var(--theme-default); */
  border: 2px solid transparent;
  color: var(--theme-default);
}

.notification--error {
  background-color: var(--theme-error-accent);
  border: 2px solid transparent;
  /* border: 2px solid var(--theme-error); */
  color: var(--theme-error);
}

.notification--success {
  background-color: var(--theme-success-accent);
  border: 2px solid transparent;
  /* border: 2px solid var(--theme-success); */
  color: var(--theme-success);
}

.notification--warning {
  background-color: var(--theme-warning-accent);
  border: 2px solid transparent;
  /* border: 2px solid var(--theme-warning); */
  color: var(--theme-warning);
}
.notification--connection {
  background-color: var(--theme-update-accent);
  border: 2px solid transparent;
  /* border: 2px solid var(--theme-warning); */
  color: var(--theme-primary-color);
}
.notification--connection .notification__details {
  color: var(--theme-text);
}

.notification--update {
  background-color: var(--theme-update-accent);
  /* border: 2px solid var(--theme-primary-color); */
  border: 2px solid transparent;
  color: var(--theme-text);
}
