:root {
  --theme-btn-radius: 50px;
  --theme-primary-color: #ff00ff;
  /* --theme-primary-color: #9c11ff; */
  --theme-secondary-color: #a9cec2;
  --theme-primary-bg: #242424;
  --theme-text: #e5e5e5;
  /* Unique to notifications */

  /* Errors */
  --theme-error: #9e2525;
  --theme-error-accent: #fdf1f1;
  /* Success */
  --theme-success: #3a7969;
  --theme-success-accent: #f1faf7;
}

.notification {
  /* height: 75px; */
  /* width: 150px; */
  background-color: var(--theme-text);
  border-radius: 10px;
  position: fixed;
  bottom: 15px;
  right: 20px;
  border: 2px solid var(--theme-primary-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  color: var(--theme-primary-bg);
}

.notification__firstcolumn {
  padding: 0 1rem 0 0;
}

.notification__icon {
  font-size: 1.5rem;
}

.notification__msg {
  /* color: var(--theme-primary-bg); */
  font-size: 1.1rem;
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.notification__details {
  /* color: var(--theme-primary-bg); */
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.notification--error {
  background-color: var(--theme-error-accent);
  border: 2px solid var(--theme-error);
  color: var(--theme-error);
}
.notification--success {
  background-color: var(--theme-success-accent);
  border: 2px solid var(--theme-success);
  color: var(--theme-success);
}
