@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap");

:root {
  --theme-primary-bg: #343e48;
}
html {
  height: 100%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0px;
  padding: 0;
  height: -webkit-fill-available;
  background-color: var(--theme-primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#target {
  height: -webkit-fill-available;
  width: 100%;
}
